<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="azistaEcommContext" 
         connectionString="Data Source=52.172.49.176;Initial Catalog=AzistaEcomm;user id=hhcadmin;Password=Hetero@123456;Connect Timeout=30;TrustServerCertificate=true;" 
  providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>